* {
    margin: 0;
    padding: 0;
}

.container {
    width: 1200px;
    margin: 0 auto;
    background-color: #eee;
}
.catalogue {
/*    min-height: 500px;*/
    width: 1000px;
    display: flex;
    justify-content: space-between;
    flex-flow: wrap;
    margin: 50px auto;
    
}

.item {
    height: 300px;
    width: 250px;
    margin: 20px 20px;
    background-size: contain;
/*    display: flex;*/
}
.item img {
    height: 250px;
    width: 250px;
}
.button-buy {
    height: 50px;
    width: 100%;
    background-color: cornflowerblue;
    text-align: center;
    line-height: 50px;
    font-size: 30px;
    color: beige;
/*    margin-top: auto;*/
}
.button-buy:hover {
    background-color: darkgray;
}


.cart {
    width: 960px;
    margin: 0 auto;
    background-color: #ccc;
    padding: 20px;
}
.container h2 {
    text-align: center;
    margin-bottom: 30px;
}
.cart-item {
    display: flex;
    min-height: 20px;
    min-width: 40px;
    background-color: azure;
    margin-bottom: 20px;
    padding: 15px;
}
.cart-item-img {
    width: 100px;
    height: 100px;
    
}
.cart-item-about {
    margin-left: 20px;
    height: 60px;
    font-size: 20px;
}
.total {
    font-size: 1em;
    text-align: right;
}